<html>
    <head>
        <title>Wgentech Orangy Shop for Interview</title>
        <link rel="stylesheet" href="../style/css/style.css">
    </head>
    <body>
        <div class="main">
            <header>
                <div class="page-header">
                    <div class="page-header-coupon">
                        <div class="left">
                            <p>FREE SHIPPING · COUPON: FREE. Exchanges and returns within 30 days.</p>
                        </div>
                        <div class="right countdown">
                            <span><strong>00</strong> days</span>
                            <span><strong>10</strong> hours</span>
                            <span><strong>37</strong> min</span>
                            <span><strong>42</strong> sec</span>
                          </div>                        
                    </div>
                    <div class="page-header-content">
                        <div class="left">
                            <button class="menu-btn">☰ MENU</button>
                          </div>
                          <div class="logo">Orangy</div>
                          <div class="right">
                            <a href="#">🔍 SEARCH</a>
                            <a href="#">LOGIN</a>
                            <a href="#">BAG (0)</a>
                          </div>
                    </div>
                    <h1>
                        Quis aliqua reprehenderit excepteur et dolore 
                    </h1>
                </div>
            </header>
            <main>
                <div class="page-main">
                    <div class="page-main-content-1">
                        <h1>Lorem ullamco</h1>
                        <div class="images">
                            <img src="../style/images/6a0120a1c79d0e02cf945647321f2c41.png">
                            <img src="../style/images/be63149f85ed41f0eb0b5603b7534f05.png">
                        </div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Excepteur eiusmod consectetur proident Lorem reprehenderit esse do anim velit in aliquip dolore ut officia. Consectetur reprehenderit proident do exercitation eu. Sunt fugiat pariatur elit est laboris quis. Esse mollit incididunt quis amet. Qui non irure incididunt laborum nisi cillum consequat aliquip aliquip cillum in. Ut excepteur labore voluptate tempor cupidatat dolor eiusmod do ipsum Lorem cupidatat do labore.
                                <br/>Proident dolore nisi eiusmod excepteur aliquip esse ut excepteur. Non excepteur sunt reprehenderit sit ex ullamco eiusmod Lorem incididunt nisi mollit nostrud. Irure velit enim elit minim commodo qui culpa cillum duis fugiat consequat pariatur.</p>
                        </div>
                    </div>
                    <div class="page-main-content-2">
                        <div class="image">
                            <img src="../style/images/8c6483106674c5cb334bd0822989d792.png">
                        </div>
                        <div class="content">
                            <h1>Lorem ipsum</h1>
                            <h3>Excepteur eiusmod consectetur</h3>
                            <p>Proident dolore nisi eiusmod excepteur aliquip esse ut excepteur. Non excepteur sunt reprehenderit sit ex ullamco eiusmod Lorem incididunt nisi mollit nostrud. Irure velit enim elit minim commodo qui culpa cillum duis fugiat consequat pariatur.</p>
                            <h3>Quis aliqua reprehenderit</h3>
                            <p>Proident dolore nisi eiusmod excepteur aliquip esse ut excepteur. Non excepteur sunt reprehenderit sit ex ullamco eiusmod Lorem incididunt nisi mollit nostrud. Irure velit enim elit minim commodo qui culpa cillum duis fugiat consequat pariatur.</p>
                            <h3>Ad sit cillum amet duis quis commodo</h3>
                            <p>Proident dolore nisi eiusmod excepteur aliquip esse ut excepteur. Non excepteur sunt reprehenderit sit ex ullamco eiusmod Lorem incididunt nisi mollit nostrud. Irure velit enim elit minim commodo qui culpa cillum duis fugiat consequat pariatur.</p>
                        </div>
                    </div>
                </div>
            </main>
            <footer>
                <div class="page-footer">
                </div>
            </footer>
        </div>
    </body>
</html>