<html>
    <head>
        <title>Wgentech Orangy Shop for Interview</title>
        <link rel="stylesheet" href="../style/css/style.css">
    </head>
    <body>
        <div class="main">
            <header>
                <div class="page-header">
                    <div class="page-header-coupon">
                        <div class="left">
                            <p>FREE SHIPPING · COUPON: FREE. Exchanges and returns within 30 days.</p>
                        </div>
                        <div class="right countdown">
                            <span><strong>00</strong> days</span>
                            <span><strong>10</strong> hours</span>
                            <span><strong>37</strong> min</span>
                            <span><strong>42</strong> sec</span>
                          </div>                        
                    </div>
                    <div class="page-header-content">
                        <div class="left">
                            <button class="menu-btn">☰ MENU</button>
                          </div>
                          <div class="logo">Orangy</div>
                          <div class="right">
                            <a href="#">🔍 SEARCH</a>
                            <a href="#">LOGIN</a>
                            <a href="#">BAG (0)</a>
                          </div>
                    </div>
                    <h1>
                        Quis aliqua reprehenderit excepteur et dolore 
                    </h1>
                </div>
            </header>
            <main>
                <div class="page-main">
                </div>
            </main>
            <footer>
                <div class="page-footer">
                </div>
            </footer>
        </div>
    </body>
</html>